UID=1000
GID=100

WORDPRESS_PORT=4000

DATABASE_CONTAINER_NAME=wordpress-database
DATABASE_PORT=4001
DATABASE_USER=wordpress
DATABASE_PASSWORD=password
DATABASE_NAME=wordpress

PHPMYADMIN_PORT=4011

MAIL_SERVER_CONTAINER_NAME=wordpress-mail-server
MAIL_SERVER_SMTP_PORT=4004
MAIL_SERVER_UI_PORT=4012
MAIL_SERVER_FROM="test-mail@mailhog.local"
MAIL_SERVER_FROM_NAME="test-mail"
MAIL_SERVER_DEBUG=0
